$primary: #00C3C3;
$secondary: #0D1040;
$danger: #F6595D;
$text-color: #343439;
$heading: #000;
$light: #979797;
$lightBg: #f6f6f6;
$border: #dbdbdb;

$font-family: 'Nunito Sans', Avenir, Helvetica, Arial, sans-serif;
