.section-content {
  font-size: 16px;

  h1 {
    margin-bottom: 36px;
    font-weight: bold;
    font-size: 36px;
  }
  h2 {
    margin-bottom: 24px;
    font-weight: bold;
    margin-top: 36px;
    font-size: 24px;
  }
  h3 {
    margin-bottom: 24px;
    font-weight: bold;
  }
  ul,
  p {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul li:not(:last-child) {
    margin-bottom: 16px;
  }

  ul ul {
    margin-top: 16px;
  }
}